@import './variables';

$appBackgroundColor: #f5f6fa;

$primaryTextColor: #2e384d;
$secondaryTextColor: #8692b8;
$primaryColor: #7d68ff;
$primaryColor-120: #6751f7;
$successColor: #07bc0c;
$infoColor: #3498db;
$errorColor: #e74c3c;
$warningColor: #f1c40f;

$box-shadow: 0 8px 18px rgba(199, 199, 199, 0.2);
$boxBackground: rgba(125, 104, 255, 0.15);
$background-shadow: rgba(46, 56, 77, 0.8);

$border-color: #d7dee8;

$hower-color: #faf7f8;
$sidemenu-transition-delay: 0.3s;

//Colors
$white: #fff;
$green: #4CAF50;
$orange: #ffc107;
$red: red;
